{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="d-flex mb-4">
            <div class="mb-0 me-3 align-self-start" style="line-height: 1.1;">
              <img src="/static/images/logo.png"
                   alt="Image description"
                   width="120"
                   height="120">
            </div>
              <h2 class="mb-0 display-5 mt-4">Make the World <span class="text-success">Greener</span></h2>
            </div>
            <div>
                <p>This project started at the
                    <a href="https://labs.ripe.net/author/becha/celebrating-green-tech-hackathon-results/">RIPE NCC Green Tech Hackathon of 2025</a>,
                    the <a href="https://github.com/Pierre-VF/oss4climate">oss4climate</a>. It is a
                    fork of that project, and <bold>under construction</bold>. </p>
                <p>Every small action creates ripple effects. Join us in:</p>
                <ul style="line-height: 1.6;">
                    <li>Planting urban forests.</li>
                    <li>Reducing carbon footprints where they are big.</li>
                    <li>Surviving climate change, there where it hits first and the hardest.</li>
                </ul>
            </div>

            <h3 class="h5">Our Mission</h3>
            <p>We provide search capabilities to help you find information to make the world a little greener ...</p>

            <h3 class="h5 mt-4">Indexes and capabilities</h3>

            Currently only one index is available, OSSFinder scraped data (see oss4climate), but we are working
            on more: Greener Community, Greener House, and Surviving Climate change (all over the world).
            We are also working on adding search capabilities to find faster what one seeks. See our
            <a href="https://github.com/ninabarzh/pers/wiki">Roadmap</a>.

            <h3 class="h5 mt-4">Contributing</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <p>Nina Barzh & Cor Westra</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}